@charset "UTF-8";

body{
  background-image:linear-gradient(to top,#0a0a0a,#ac0303,#0a0a0a);
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
  text-align: center;
  color: beige;
  text-decoration: none;
  font-weight: bold;
}

a:visited{
  color: #f5f5dc96;
}

a:hover{
  color: #4b4b4a;
  text-decoration: underline;
}

a:active{
  color: beige;
}

main{
  text-align: center;
}

h1{
  color: beige;
  text-align: center;
  font-weight:normal;
  font-size:normal;
  font-style: italic;
}

div#main {
  color: beige;
  text-shadow:1px 1px 0px #000000da  ;
  text-align: center;
  text-indent: 20px;
  font-weight:normal;
  font-size:normal;
  font-style: italic;
}



